<div class="container">
<form (ngSubmit) = "onSubmit()" name="department">
    
    <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Name"
          [(ngModel)] = "department.departmentName" name="name" id="name" required="true">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="manager id"
          [(ngModel)] = "department.managerId" name="managerId" id="managerId" required="true">
        </div>
    </div>
  
      <br><br>
     
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
  </div>